/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import "cerxos-ui/styles/tailwind.css";
@source "./**/*.{html,ts}";
@source "../node_modules/cerxos-ui/**/*.{html,ts,js,mjs}";

